<%= form_with(model: calculation) do |form| %>
  <% if calculation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calculation.errors.count, "error") %> prohibited this calculation from being saved:</h2>

      <ul>
        <% calculation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <% # form.label :name %>
    <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
  </div>

  <div class="field mb-3">
    <% # form.label :principal %>
    <%= form.text_field :currency, class:"form-control", placeholder:"Currency" %>
  </div>

  <div class="field mb-3">
    <% # form.label :principal %>
    <%= form.text_field :principal, class:"form-control", placeholder:"Principal (Initial value)" %>
  </div>

  <div class="field mb-3">
    <% # form.label :interest_rate %>
    <%= form.text_field :interest_rate, class:"form-control", placeholder:"Interest Rate" %>
  </div>

  <div class="field mb-3">
    <% # form.label :years %>
    <%= form.number_field :years, class:"form-control", placeholder:"Years" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>
