<div class="bg-light p-5 rounded-lg m-3">
   <h1 class="display-4">
     <%= @calculation.name %>
   </h1>
   <p class="lead">
     <strong>Principal:</strong><%= @calculation.principal %> |
     <strong>Interest rate:</strong><%= @calculation.interest_rate %> |
     <strong>Years:</strong><%= @calculation.years %> 
   </p>
   <hr class="my-4">
   <%= link_to 'Edit', edit_calculation_path(@calculation), class:"btn btn-secondary" %> 
   <%= link_to 'Back', calculations_path, class:"btn btn-dark" %>
 </div>
